$background: #FFA987;

//  quad background images
$eatBackground: #ED6A5A;
$sleepBackground: #93C6D6;
$playBackground: #B1DB5E;
$fightBackground: #D16014;

// health colors 

$healthy: rgb(22, 153, 22);
$sick: yellow;
$danger: rgb(247, 66, 46);

$button-background: #92CD41;
$sec-button-background: #76c442;
$shadow-color:  #4AA52E;

$alt-button-background: #F7D51D;
$alt-sec-button-background: #F2C409;
$alt-shadow-color:  #E59400;

$reset-button-background: #E76E55;
$reset-sec-button-background: #CE372B;
$reset-shadow-color:  #8C2022;