@import '../../styles/colors';
@import '../../styles/buttons';
@import '../../styles/mediaQueries';

#eat {
  @include for-small-quad;
  background-color: $eatBackground;
  color: $sleepColor;
  @include for-tablet-portrait-up {
    @include for-tpu-quad;
  }
  @include for-tablet-landscape-up {
    @include for-tlu-quad-left;
  }
}

.quad {
  border: 1em solid $healthy;
}