@import '../../styles/buttons';
@import '../../styles/colors';
@import '../../styles//mediaQueries';

@for $i from 0 through 100 {
  .fill-#{$i}-full { 
    width: 1% * $i; 
    @if $i < 15 { 
      background-color: $danger; 
    } @else if $i < 35 {
      background-color: $sick;
    } @else {
      background-color: $healthy;
    }    
  }
}

#progressBar {
  width: 90%;
  border: 15px solid black;
  height: 2em;
  margin: auto;
  display: flex;
  background-color: lightgrey; 
  @include for-tablet-portrait-up {
    width: 75%;
  }
  @include for-tablet-landscape-up {
    width: 60%;
    margin-bottom: .5em;
  }
}

#progress {
  font-size: 2em;
  text-align: center;
  width: 100%;
  margin: auto;
}

#totalProgress {
  width: 100%;
  margin-top: .5em;
}

.dead {
  border: .5em solid $danger;
  box-shadow: 8px 15px 10px rgb(253, 111, 96);
}

.almostDead {
  border: .5em solid $sick;
  box-shadow: 8px 15px 10px rgb(255, 255, 146);
}

.quad {
  border: .5em solid $healthy;
  box-shadow: 8px 15px 10px rgb(133, 223, 133);
}

.allDead {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#allDead {
  font-size: .5em;
  position: absolute;
  margin: auto;
  top: 2em;
  left: 2em;
  background-color: lightslategray;
  z-index: 10;
  border: 5px solid black;
  box-shadow: 10px 10px 10px black;
  @include for-tablet-portrait-up {
    padding: 1em;
    font-size: .75em;
    width: 75%;
  }
  @include for-tablet-landscape-up {
    font-size: 1em;
  }
  @include for-desktop-up {
    left: 3em;
  }
}